@model mi_tienda_de_electrónica.Models.Product
@{
    ViewData["Title"] = "Agregar Producto";
}
<h2>Agregar Producto</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Descripción:</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label>Precio:</label>
        <input asp-for="Price" />
    </div>
    <div>
        <label>URL de la Imagen:</label>
        <input asp-for="ImageUrl" />
    </div>
    <button type="submit">Agregar</button>
</form>
